/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../font/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/montserrat-v24-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../font/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/montserrat-v24-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../font/oswald-v48-latin_cyrillic-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/oswald-v48-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
}

.container {
    width: 1278px;
    border: 1px solid red;
    margin: 0 auto;
    padding: 0 auto;

}

body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
    margin: 0;
}



/* header */
.header {
    padding: 39px;
    background-color: rgba(102, 209, 255, 1)
}
.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-invite {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
}

.img-logo {
    display: block;
    width: 295.5px;
    height: 50.76px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tel {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}



/* main */

/* product */
.product {
    background-color: #060d10;
    color: #fff;
    text-align: center;
    background-image: url('../images/promo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.product-wrap {
    display: flex;
    align-items: flex-end;
}   
.product-fade {
    background-color: rgba(6, 13, 16, 0.25);
    text-shadow: 1px 1px 2px;
}

.product-title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;

    margin: 240px 81px 437px;
}

.product-desc {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;

    align-items: center;
    text-align: center;
    margin: 389px 190px 260px;
}

/* options */
.options {
    background-color: rgba(255, 255, 255, 1);
}
.options-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.options-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 167%;

}

.options-caption {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 167%;
}

.option-desc {
    width: 406px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    color: rgba(6, 13, 16, 0.8);
}

/* lead-block */
.lead-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 167%;
}
.lead-block-wrap {
   
}
.btn-lead {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

/* photo-lead */
.photos-lead {
    width: 297px;
    height: 297px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, );
}

/* footer */
.footer {
    padding: 43px;
    background-color: #060d10;
    color: #fff;
}

.invite-footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 167%;

    text-align: center;
    color: #fff;
}

.social {
    display: block;
    width: 220px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: rgba(0, 0, 0, 0.25);
}

.social-item {}

.social-link {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-tw {
    display: block;
    width: 220px;
    height: 40px;
    background-image: url('../images/social-icons-twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
}

.icon-linkedin {
    display: block;
    width: 220px;
    height: 40px;
    background-image: url('../images/social-icons-linkedin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
}

.icon-google {
    display: block;
    width: 220px;
    height: 40px;
    background-image: url('../images/social-icons-google.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
}

.icon-fb {
    display: block;
    width: 220px;
    height: 40px;
    background-image: url('../images/social-icons-fb.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
}

.copyright {
    width: 197px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}